{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2024,
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "env": {
    "browser": true,
    "es2024": true,
    "node": true,
    "mocha": true,
    "cypress/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "react",
    "react-hooks",
    "cypress",
    "chai-friendly"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "max-len": [1, {"ignoreComments": true, "ignorePattern": "^import|className=", "code": 110 }],
    "no-unused-expressions": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".mjs"]
      },
      "alias": {
        "map": [
          ["#admin", "./app/admin"],
          ["#auth", "./app/auth"],
          ["#ui", "./app/ui"],
          ["#post", "./app/post"],
          ["#user", "./app/user"],
          ["#app", "./app"],
          ["#whiteroom", "./src"],
        ],
        "extensions": [".js", ".jsx", ".mjs"]
      }
    }
  }
}