{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2024,
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "env": {
    "browser": true,
    "es2024": true,
    "node": true,
    "mocha": true,
    "cypress/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "react",
    "react-hooks",
    "cypress",
    "chai-friendly"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".mjs"]
      },
      "alias": {
        "map": [
          ["#api", "./src/api"],
          ["#client", "./src/client"],
          ["#common", "./src/common"],
          ["#config", "./src/config"],
          ["#cron", "./src/cron"],
          ["#queue", "./src/queue"],
          ["#models", "./src/models"],
          ["#server", "./src/server"],
          ["#util", "./src/util"]
        ],
        "extensions": [".js", ".jsx", ".mjs"]
      }
    }
  }
}